<section class="links-toolbar">
  <label class="form-field">
    <span>Filter by Topic</span>
    <select class="form-select" [ngModel]="selectedTopic()" (ngModelChange)="selectedTopic.set($event)">
      <option value="">All</option>
      <option *ngFor="let group of groupedLinks()" [value]="group.topic">
        {{ group.topic }}
      </option>
    </select>
  </label>

  <label class="form-field search">
    <span>Search links</span>
    <input class="form-control" title="mySearch" [ngModel]="search()" (ngModelChange)="search.set($event)" />
  </label>
</section>

<section class="links-accordion" *ngIf="filtered().length; else loading">
  <details class="topic-panel" *ngFor="let group of filtered()" open>
    <summary class="topic-summary">{{ group.topic }}</summary>

    <div class="subtopic-list">
      <details class="subtopic-panel" *ngFor="let sub of group.subTopics" open>
        <summary class="subtopic-summary">{{ sub.subTopic }}</summary>

        <ul class="link-list">
          <li *ngFor="let link of sub.links">
            <a [href]="link.url" target="_blank" rel="noopener">{{ link.name }}</a>
          </li>
        </ul>
      </details>
    </div>
  </details>
</section>

<ng-template #loading>
  <p>Loading or no links found.</p>
</ng-template>
