.error {
  color: red;
  font-weight: bold;
}

button {
  margin-top: 1rem;
}

.base-game-ref {
  margin-top: -0.5rem;
  font-style: italic;
  color: #444;

  a {
    font-weight: bold;
    text-decoration: underline;
  }
}

.play-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

  th, td {
    border: 1px solid #ccc;
    padding: 0.4rem;
  }

  thead {
    background-color: #eee;
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}
