.item-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h2 {
    margin-top: 0;
  }

  .actions {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;

    button {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
      cursor: pointer;
    }
  }
}
